*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*creat header*/
#header{
    width: 100%;
    height: 100vh;
    background:url("../img/bg-masthead.jpg") center center fixed;
    background-size: cover;
}
/*.container{*/
/*    width: 85%;*/
/*    margin: 0 auto;*/
/*}*/
.container ul{
   position: absolute;
    top: 16px;
    left: 1000px;
}
.container ul li{
    display: inline-block;
    padding-bottom: 30px;
    padding-left: 40px;
}
.container #main-header{
    display: block;
    width: 30%;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: rgba(255,255,255,.7);
    padding: 10px;
}
.container ul li a{
    text-decoration: none;
    color: rgba(255,255,255,.7);
}
#header-info{
    width: 80%;
    text-align: center;
    position: absolute;
    top: 200px;
    left: 150px;
}
#header-info h1{
    font-size: 60px;
    padding: 0 200px;
    color: #f3f3f3;
}
.border{
    width: 5%;
    margin: 30px auto;
    border: 1px solid #F4633A;
}
#header-info p{
    padding: 0 240px;
    color: rgba(255,255,255,.75);
    /*font-weight: bold;*/
    font-size: 25px;
}
#header-info a{
    display: block;
    width: 180px;
    padding: 20px 0;
    line-height: 20px;
    border-radius: 30px;
    text-decoration: none;
    margin: 60px auto;
    background-color: #F4633A;
    color: #fff;
}
/* end creat header*/
/*section info*/
#main-info{
    width: 100%;
    padding: 240px 0;
    background-color: #F4633A;
    position: relative;
}
.container-info{
    width: 50%;
    /*position: absolute;*/
    /*top: 130px;*/
    /*left: 400px;*/
    margin: 0 auto;
    text-align: center;
}
.container-info h2{
    font-size: 35px;
    word-spacing: 5px;
    color: white;
}
#border-info{
    width: 7%;
    margin: 30px auto;
    border: 1px solid white;
}
.container-info p{
    color: white;
    opacity: .5;
    font-size: 20px;
}
a{
    display: block;
    width: 170px;
    font-weight: 400;
    padding: 20px 0;
    margin: 30px auto;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 30px;
}
/* end section info*/