
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*make header*/
#header {
    height: 80vh;
    background: url("banner-bg.jpg") center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


#cantaner{
    width: 85%;
    margin: 0 auto;

}
#brand {
    width: 30%;
    float: left;
    margin: 20px 30px;
    color: white;
    opacity: .9;
    font-family: sans-serif;
}

#menu {
    width: 50%;
    margin-top: 30px;
    float: right;

    /*border: 1px solid black;*/
}
#menu ul{

    list-style-type: none;
}
#menu ul li{
    float: right;
    padding: 0 30px;
    /*width: 20px;*/
    display: inline-block;

}
#menu a{
    text-decoration: none;
    color: white;
    opacity: .9;
    font-size: 20px;
    font-family: "Comic Sans MS";
}
#clear{
    clear: both;
}
#rapper {
    width: 60%;
    /*position: absolute;*/
    /*top: 300px;*/
    /*left: 350px;*/
    margin: 200px auto;
    color: white;
    text-align: center;
}

#rapper h1 {
    /*width: 500px;*/
    text-align: center;
    margin: 50px;
    font-size: 60px;

}

#rapper p {
    padding: 0 100px;
    font-size: 17px;
}
/*end header*/
/*make section info*/
#clear-both{
    clear: both;
}
#main{
    background-color: #f9f9f9;
    width: 100%;
    height: 800px;

}
#section-info{
    width: 60%;
    margin: auto;
    padding: 50px 0;
    text-align: center;
}
#section-info h2{
    font-size: 50px;
    word-spacing: 15px;
    color: #333333;
    opacity: .9;
}
#section-info p{
    font-size: 30px;
    margin-top: 10px;
    padding: 0 150px;
}
#content{
    width: 95%;
    margin: auto;
    text-align: center;
}
.row{
    width: 95%;
    /*border: 1px solid black;*/
    margin-left: auto;
    text-align: center;
}
#info-one{
    border: 1px solid #c0c0c0;
    background-color: #b2b2b2;
    float: left;
    width: 20%;
    margin: 0 80px;
}
#info-one img{
    width: 170px;
    padding: 40px 0;
}
#info-one h2{
    margin-bottom: 20px;
    color: #646464;
    opacity: .9;
}
#info-one p{
    margin-bottom: 20px;
    padding: 0 20px;
    color: #080808;
    opacity: .9;
}
#info-two{
    float: left;
    width: 20%;
    padding: 20px 0 ;
    background-color: #adadad;
    margin: 10px 80px;
}
#info-two img{
    width: 170px;
    /*margin-top: 5px;*/
    padding: 34px 0;
}
#info-two h2{
    margin: 5px 0;
    color: #646464;
    opacity: .9;
}
#info-two p{
    padding: 15px;
    color: #080808;
    opacity: .9;
}
#info-three{
    border: 1px solid #c0c0c0;
    background-color: #b2b2b2;
    float: left;
    width: 20%;
    margin: 5px 80px;
}
#info-three img{
    width: 190px;
    padding: 42px 0;
}
#info-three h2{
    margin-bottom: 20px;
    color: #646464;
    opacity: .9;
}

#info-three p{
    margin-bottom: 20px;
    padding: 0 20px;
    color: #080808;
    opacity: .9;
}
#cls{
    clear: both;
}
/*make section info*/
/*menu section two*/
#main-menu{
    width: 100%;
    height: 800px;
    background-color: #fbfbfb;
}
#menu-info{
    width: 60%;
    margin:auto;
    padding: 100px 0;
    text-align: center;
}
#menu-info h3{
    word-spacing: 10px;
    font-size: 40px;
    color: #333333;
}
#menu-info p{
    color: #333333;
    opacity: .9;
    font-size: 20px;
    margin-top: 20px;
    word-spacing: 5px;
}
.menu-border{
    width: 90%;
    margin: auto;
    border: 1px solid #ababab;
}
#account{
    width: 90%;
    margin: 20px auto;
}
.menu-acc{
    width: 21%;
    padding: 50px 0;
    margin-left: 55px;
    float: left;
}
.menu-acc img{
    width: 120px;
    float: left;
}
.main-info{
    margin-top: 20px;

}
.main-info h4{
    font-weight: bold;
    font-size: 17px;
    color: #6b6b6d;
}
.main-info p{
    color: #8e8e91;
}
#main-info2{
    width: 60%;
    margin: 100px auto;
    text-align: center;
}
#main-info2 p{
    color: #4b4b4d;
}
#main-info2 a{
    display: block;
    margin: 50px auto;
    width: 220px;
    border-radius: 50px;
    padding: 20px 0;
    text-decoration: none;
    color: white;
    opacity: .9;
    background-color: #299dce;
}
/*end menu*/
/*creat menu end*/
#end-menu{
    background-color: #2ea2d3;
    width: 100%;
    height: 700px;
}
#end-info{
    width: 60%;
    margin: 0 auto;
    padding: 60px 0;
    text-align: center;

}
#end-info h3{
    font-weight: bold;
    font-size: 40px;
    margin: 15px 0;
    color: white;
}
#end-info p{
    word-spacing: 5px;
    font-weight: 400;
    color: white;
    opacity: .9;
}
#form-menu{
    width: 80%;
    margin: auto;
    text-align: center;
}
#form-menu input{
    display: inline-block;
    padding:10px 30px;
    margin-left: 10px;
    border-radius: 10px;
    border-top: none;
    border-left: none;
}
#form-menu textarea{
    display: block;
    width: 40%;
    margin: 50px auto;
    height: 200px;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 8px;
}
#form-menu a{
    text-decoration: none;
    color: #ebebeb;
    background-color: #2f373e;
    display: block;
    width: 150px;
    padding: 13px 20px;
    border-radius: 20px;
    margin: 10px auto;
}
/* end creat menu en
/*creat footer*/
#footer{
    width: 100%;
    height: 600px;
    background-color: #333b42;
    position: relative;
}
#main-footer{
    width: 80%;
    padding-left: 50px;
    margin: 0 auto;
    padding: 100px 0 0 0;
}
.info-footer{
    width: 23%;
    float: left;
    margin-left: 20px;
}
.p1{
    padding:30px 0;
    color: white;
    opacity: .9;
}
.p-div{
    padding: 8px 0;
}
.p-div p{
    padding: 7px 0;
    color: #f2f2f2;
    opacity: .7;
}
.footer-border{
    width: 90%;
    margin: 50px auto;
    /*color: #ffffff;*/
    border: 1px solid #5c5c5c;
}
#all-copy{
    width: 80%;
    margin: auto;
}
#all-copy p{
    word-spacing: 7px;
    color: #5c646b;
}
#font{
    width: 50%;
    float: right;
    text-align: right;
    position: absolute;
    bottom: 113px;
    left: 600px;
    /*padding: 0 0  0 10px;*/
}
.font-1{
    display: inline-block;
    font-size: 32px;
    color: white;

    border-radius: 20px;
    padding: 0 7px;
}
.font-1:hover{
    color: #a4a4a4;
}
/*end creat footer*/